.box-container {
    display: flex;
    flex-direction: column;
}

.box-container img {
    margin: 0 auto;
}

.box-container > h1 {
    text-align: center;
    font-size: xx-large;
}

h2 {
    text-align: center;
    color: #fff;
    background-color: lightgrey;
    padding: 20px;
    margin: 0;
    font-size: xx-large;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 1000;
}
